{# extend the parent tpl #}
{% extends 'layout.twig' %}

{% set session = app.session.get('username') %}

{% block pageContent %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ app.request.baseUrl }}/admin">Trajectbegeleiding</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><span class="icon-large mini"></span>{{session}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="./logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

<div class="container">
<div id="container" class="clearfix">

    <div class="col-3 main-menu-span">
        <div class="well nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Admin</li>
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin"><i class="icon-home"></i><span class="hidden-tablet"> Dashboard</span></a>
            </li>
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/aanvragen"><i class="icon-home"></i><span class="hidden-tablet"> ISP aanvragen</span></a>
            </li>           
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/vakken"><i class="icon-home"></i><span class="hidden-tablet"> Vakken</span></a>
            </li>
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/volgtijdelijkheden"><i class="icon-home"></i><span class="hidden-tablet"> Volgtijdelijkheden</span></a>
            </li>
           
          </ul>
        </div>
        
         <div class="well nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">klasgroep</li>
              <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/klasgroepen"><i class="icon-home"></i><span class="hidden-tablet">Maak klasgroepen</span></a>
            </li>
              <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/klasgroepen"><i class="icon-home"></i><span class="hidden-tablet">Studenten in klasgroep</span></a>
            </li>
          </ul>
        </div>
        
         <div class="well nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Lesrooster</li>
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/lesperklasgroep"><i class="icon-home"></i><span class="hidden-tablet">per klasgroep</span></a>
            </li>
          </ul>
        </div>
        
        <div class="well nav-collapse sidebar-nav">
          <ul class="nav nav-tabs nav-stacked main-menu">
            <li class="nav-header hidden-tablet">Modelstudent</li>
            <li>
              <a class="ajax-link" href="{{ app.request.baseUrl }}/admin/toewijzen_klasgroep"><i class="icon-home"></i><span class="hidden-tablet">wijs een klasgroep toe</span></a>
            </li>
          </ul>
        </div>
      </div>
   

    {% block pageContent1 %}
      Hello!
    {% endblock %}
    </div>      

  </div> <!-- /container -->
{% endblock %}

